.logo{
  height: 24px;
  @include desktop{
    height: 40px;
  }
}

// 手機板漢堡選單區域與樣式
.line{
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: block;
  padding: 16px;
  position: relative;
  z-index: 2;
  // background-color: #00f;
  @include desktop{
    display: none;
  }

  .menu,.menu::before,.menu::after{
    background-color: $white;
    content: '';
    position: absolute;
    display: block;
    height: 4px;
    border-radius: 2px;
    transition: ease .3s;
  }
  .menu{
    width: 60%;
    top: calc(50% - 2px);left: 20%;
    &::before{
      width: 100%;
      top: -10px;
    }
    &::after{
      width: 100%;
      top: 10px;
    }
  }
}
// 點選選單改變樣式
#mobile_menu:checked{
  & + .line .menu{
    background-color: transparent;
    &::before{
      transform: rotate(-45deg);
      top: 0;
      transition: ease .3s;
    }
    &::after{
      transition: ease .3s;
      transform: rotate(45deg);
      top: 0;
    }
  }
}
// 選單開合
#mobile_menu:checked ~ .menu-list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  left: -6px;
  z-index: 1;
  transition: .3s;
  overflow: hidden;

  font-size: 5rem;
  gap: 8px;
  flex-direction: column;

  @include desktop{
    display: none;
  }
}
.menu-list{
  display: none;
  // width: 0;height: 0;
  background-color: $black;
  @include desktop{
    display: flex;
    gap: 20px;
  }
  
  a{
    font-weight: 900;
    @include desktop{
      padding: 12px 0;
      font-weight: 700;
    }
  }
}
#mobile_menu{
  display: none;
}