// 手機板漢堡選單區域與樣式
.line{
  position: relative;
  .menu{
    width: 60%;
    top: calc(50% - 2px);
    left: 20%;
    &,&::before,&::after{
      content: '';
      height: 4px;
      border-radius: 2px;
      background-color: $white;
      position: absolute;
      transition: .3s;
    }
    &::before{
      width: 100%;
      top: -10px;
    }
    &::after{
      width: 100%;
      top: 10px;
    }
  }
}
// 點選選單改變樣式
#mobile_menu:checked{
  & + .line .menu{
    background-color: transparent;
    &::before{
      transform: rotate(-45deg);
      top: 0;
    }
    &::after{
      transform: rotate(45deg);
      top: 0;
    }
  }
  // 選單開合
  & ~ ul{
    position: fixed;
    width: 100%;
    height: calc(100% - 80px);
    top: 80px;
    // 保持在最上層
    z-index: 5;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}