.section2{
  margin-bottom: 178px;
  @include desktop{
    margin-bottom: 10rem;
  }

  .txt{
    margin-bottom: 3rem;
    @include desktop{
      display: flex;
      justify-content: end;
    }
    h3{
      margin-bottom: 1.5rem;
      font-size: 1.25rem;
      @include desktop{
        width: 33%;
        font-size: 2rem;
      }
    }
    p{
      font-size: 2rem;
      @include desktop{
        width: 66%;
        font-size: 3rem;
      }
    }
  }
  .no-br{
    display: none;
    @include desktop{
      display: block;
    }
  }
}
.service{
  flex-direction: column;
  @include desktop{
    gap: 1.5rem;
    flex-direction: row;
    .px-5{
      padding-left: 40px;
      padding-right: 40px;
    }
    .py-10{
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }
  li{
    width: 100%;
  }
  h5{
    font-size: 2rem;
  }
  p{
    font-size: 1rem;
    line-height: 1.5;
  }
}