.deco1{
  animation: deco_animation 4s .7s infinite;
}
.deco2{
  animation: deco_animation 4s .4s infinite;
}
.deco3{
  animation: deco_animation 4s .1s infinite;
}

@keyframes deco_animation {
  0%{transform: translateY(100%);}
  35%{transform: translateY(0%);}
  50%{transform: translateY(0%);}
  85%{transform: translateY(-100%);}
  100%{transform: translateY(-100%);}
}