@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700;900&display=swap");
h1, h2, h3, h4, h5, p, a {
  line-height: 1.2;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

img {
  width: 100%;
  vertical-align: middle;
}

.contain {
  max-width: 1296px;
}

.logo {
  height: 24px;
}
@media (min-width: 768px) {
  .logo {
    height: 40px;
  }
}

.line {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: block;
  padding: 16px;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .line {
    display: none;
  }
}
.line .menu, .line .menu::before, .line .menu::after {
  background-color: #fff;
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  border-radius: 2px;
  transition: ease 0.3s;
}
.line .menu {
  width: 60%;
  top: calc(50% - 2px);
  left: 20%;
}
.line .menu::before {
  width: 100%;
  top: -10px;
}
.line .menu::after {
  width: 100%;
  top: 10px;
}

#mobile_menu:checked + .line .menu {
  background-color: transparent;
}
#mobile_menu:checked + .line .menu::before {
  transform: rotate(-45deg);
  top: 0;
  transition: ease 0.3s;
}
#mobile_menu:checked + .line .menu::after {
  transition: ease 0.3s;
  transform: rotate(45deg);
  top: 0;
}

#mobile_menu:checked ~ .menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  left: -6px;
  z-index: 1;
  transition: 0.3s;
  overflow: hidden;
  font-size: 5rem;
  gap: 8px;
  flex-direction: column;
}
@media (min-width: 768px) {
  #mobile_menu:checked ~ .menu-list {
    display: none;
  }
}

.menu-list {
  display: none;
  background-color: #000;
}
@media (min-width: 768px) {
  .menu-list {
    display: flex;
    gap: 20px;
  }
}
.menu-list a {
  font-weight: 900;
}
@media (min-width: 768px) {
  .menu-list a {
    padding: 12px 0;
    font-weight: 700;
  }
}

#mobile_menu {
  display: none;
}

.section1 {
  margin-bottom: 62px;
}
@media (min-width: 768px) {
  .section1 {
    margin-bottom: 10rem;
  }
}
.section1 h2 {
  font-size: 3rem;
}
@media (min-width: 768px) {
  .section1 h2 {
    font-size: 90px;
  }
  .section1 h2 .no-br {
    display: none;
  }
}
@media (min-width: 1000px) {
  .section1 h2 {
    font-size: 120px;
  }
}
.section1 .btn {
  margin-bottom: 181px;
}
@media (min-width: 768px) {
  .section1 .btn {
    margin-bottom: 100px;
  }
}

.deco {
  overflow: hidden;
}
.deco li {
  max-width: 117px;
}
@media (min-width: 768px) {
  .deco li {
    max-width: 180px;
  }
}

.deco1 {
  animation: deco_animation 4s 0.7s infinite;
}

.deco2 {
  animation: deco_animation 4s 0.4s infinite;
}

.deco3 {
  animation: deco_animation 4s 0.1s infinite;
}

@keyframes deco_animation {
  0% {
    transform: translateY(100%);
  }
  35% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(0%);
  }
  85% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.section2 {
  margin-bottom: 178px;
}
@media (min-width: 768px) {
  .section2 {
    margin-bottom: 10rem;
  }
}
.section2 .txt {
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .section2 .txt {
    display: flex;
    justify-content: end;
  }
}
.section2 .txt h3 {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .section2 .txt h3 {
    width: 33%;
    font-size: 2rem;
  }
}
.section2 .txt p {
  font-size: 2rem;
}
@media (min-width: 768px) {
  .section2 .txt p {
    width: 66%;
    font-size: 3rem;
  }
}
.section2 .no-br {
  display: none;
}
@media (min-width: 768px) {
  .section2 .no-br {
    display: block;
  }
}

.service {
  flex-direction: column;
}
@media (min-width: 768px) {
  .service {
    gap: 1.5rem;
    flex-direction: row;
  }
  .service .px-5 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .service .py-10 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.service li {
  width: 100%;
}
.service h5 {
  font-size: 2rem;
}
.service p {
  font-size: 1rem;
  line-height: 1.5;
}