@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500;700;900&display=swap");
h1, h2, h3, h4, h5, p, a {
  line-height: 1.2;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

img {
  width: 100%;
  vertical-align: middle;
}

.contain {
  max-width: 1296px;
}

.logo {
  height: 24px;
}
@media (min-width: 768px) {
  .logo {
    height: 40px;
  }
}

.line {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: block;
  padding: 16px;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .line {
    display: none;
  }
}
.line .menu, .line .menu::before, .line .menu::after {
  background-color: #fff;
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  border-radius: 2px;
  transition: ease 0.3s;
}
.line .menu {
  width: 60%;
  top: calc(50% - 2px);
  left: 20%;
}
.line .menu::before {
  width: 100%;
  top: -10px;
}
.line .menu::after {
  width: 100%;
  top: 10px;
}

#mobile_menu:checked + .line .menu {
  background-color: transparent;
}
#mobile_menu:checked + .line .menu::before {
  transform: rotate(-45deg);
  top: 0;
  transition: ease 0.3s;
}
#mobile_menu:checked + .line .menu::after {
  transition: ease 0.3s;
  transform: rotate(45deg);
  top: 0;
}

#mobile_menu:checked ~ .menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  left: -6px;
  z-index: 1;
  transition: 0.3s;
  overflow: hidden;
  font-size: 5rem;
  gap: 8px;
  flex-direction: column;
}
@media (min-width: 768px) {
  #mobile_menu:checked ~ .menu-list {
    display: none;
  }
}

.menu-list {
  display: none;
  background-color: #000;
}
@media (min-width: 768px) {
  .menu-list {
    display: flex;
    gap: 20px;
  }
}
.menu-list a {
  font-weight: 900;
}
@media (min-width: 768px) {
  .menu-list a {
    padding: 12px 0;
    font-weight: 700;
  }
}

#mobile_menu {
  display: none;
}

.section1 {
  margin-bottom: 62px;
}
@media (min-width: 768px) {
  .section1 {
    margin-bottom: 10rem;
  }
}
.section1 h2 {
  font-size: 3rem;
}
@media (min-width: 768px) {
  .section1 h2 {
    font-size: 90px;
  }
  .section1 h2 .no-br {
    display: none;
  }
}
@media (min-width: 1000px) {
  .section1 h2 {
    font-size: 120px;
  }
}
.section1 .btn {
  margin-bottom: 181px;
}
@media (min-width: 768px) {
  .section1 .btn {
    margin-bottom: 100px;
  }
}

.deco {
  overflow: hidden;
}
.deco li {
  max-width: 117px;
}
@media (min-width: 768px) {
  .deco li {
    max-width: 180px;
  }
}

.deco1 {
  animation: deco_animation 4s 0.7s infinite;
}

.deco2 {
  animation: deco_animation 4s 0.4s infinite;
}

.deco3 {
  animation: deco_animation 4s 0.1s infinite;
}

@keyframes deco_animation {
  0% {
    transform: translateY(100%);
  }
  35% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(0%);
  }
  85% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.section2 {
  margin-bottom: 178px;
}
@media (min-width: 768px) {
  .section2 {
    margin-bottom: 10rem;
  }
}
.section2 .txt {
  margin-bottom: 3rem;
}
@media (min-width: 768px) {
  .section2 .txt {
    display: flex;
    justify-content: end;
  }
}
.section2 .txt h3 {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  .section2 .txt h3 {
    width: 33%;
    font-size: 2rem;
  }
}
.section2 .txt p {
  font-size: 2rem;
}
@media (min-width: 768px) {
  .section2 .txt p {
    width: 66%;
    font-size: 3rem;
  }
}
.section2 .no-br {
  display: none;
}
@media (min-width: 768px) {
  .section2 .no-br {
    display: block;
  }
}

.service {
  flex-direction: column;
}
@media (min-width: 768px) {
  .service {
    gap: 1.5rem;
    flex-direction: row;
  }
  .service .px-5 {
    padding-left: 40px;
    padding-right: 40px;
  }
  .service .py-10 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.service li {
  width: 100%;
}
.service h5 {
  font-size: 2rem;
}
.service p {
  font-size: 1rem;
  line-height: 1.5;
}

.section3 {
  margin-bottom: 120px;
}
@media (min-width: 768px) {
  .section3 {
    margin-bottom: 153px;
  }
}

@media (min-width: 768px) {
  .company {
    margin-bottom: 160px;
  }
}
@media (min-width: 768px) {
  .company h3 {
    font-size: 32px;
    margin-bottom: 5rem;
  }
}

.marquee_deco {
  overflow: hidden;
  position: relative;
}
.marquee_deco::before, .marquee_deco::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 160px;
  top: 0;
  z-index: 5;
}
.marquee_deco::before {
  background-image: linear-gradient(90deg, #000, transparent);
  left: 0;
}
.marquee_deco::after {
  background-image: linear-gradient(270deg, #000, transparent);
  right: 0;
}

.mar1 {
  animation: marquee 10s linear infinite;
}

.mar2 {
  animation: marquee 13s linear infinite;
}

@media (min-width: 768px) {
  .marquee {
    margin-bottom: 20px;
  }
}
.marquee img {
  width: 10rem;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1080px);
  }
}
.swiper {
  width: 100%;
  height: 100%;
}
@media (min-width: 768px) {
  .swiper {
    display: none;
  }
}

.swiper-slide {
  font-size: 18px;
  background: rgba(255, 255, 255, 0.0784313725);
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  margin-bottom: 2rem;
}

.swiper-pagination-bullet {
  background-color: #fff;
}

.feedback {
  display: none;
}
@media (min-width: 768px) {
  .feedback {
    display: block;
  }
}
@media (min-width: 768px) {
  .feedback .flex {
    flex-wrap: wrap;
  }
}
@media (min-width: 1000px) {
  .feedback .flex {
    flex-wrap: nowrap;
  }
}
.feedback .p-10 {
  width: 48%;
  background: rgba(255, 255, 255, 0.0784313725);
}
@media (min-width: 1000px) {
  .feedback .p-10 {
    width: 100%;
  }
}

.fbtxt {
  min-height: 215px;
  color: #F2F2F2;
  flex-grow: 1;
}

.customer .pic {
  overflow: hidden;
}
.customer .pic img {
  border-radius: 50%;
}

.section4 {
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .section4 {
    margin-bottom: 87px;
  }
}
@media (min-width: 768px) {
  .section4.rounded-3xl {
    border-radius: 80px;
  }
}
@media (min-width: 1000px) {
  .section4.rounded-3xl {
    border-radius: 160px;
  }
}
.section4 h3.text-center {
  font-size: 2rem;
}
@media (min-width: 768px) {
  .section4 h3.text-center {
    font-size: 4rem;
  }
}
@media (min-width: 1000px) {
  .section4 h3.text-center {
    font-size: 5rem;
  }
}
@media (min-width: 768px) {
  .section4 h3.text-center br {
    display: none;
  }
}
.section4 input[type=search] {
  flex-grow: 1;
}
.section4 nav .AI_nav {
  display: none;
}
@media (min-width: 1000px) {
  .section4 nav .AI_nav {
    display: flex;
  }
}
.section4 .AI_nav {
  overflow-x: scroll;
}
@media (min-width: 1000px) {
  .section4 .AI_nav {
    display: none;
  }
}
.section4 .AI_nav::-webkit-scrollbar {
  width: 0;
}
.section4 .AI_nav li {
  flex-shrink: 0;
}
.section4 .AI_nav button {
  border-color: transparent;
}
.section4 button:hover, .section4 li.active button {
  color: #000;
  background-color: #eee;
}
.section4 .card li {
  overflow: hidden;
  width: 100%;
}
@media (min-width: 768px) {
  .section4 .card li {
    width: calc((100% - 24px) / 2);
  }
}
@media (min-width: 1000px) {
  .section4 .card li {
    width: calc((100% - 48px) / 3);
  }
}
.section4 .card li .txt {
  flex-grow: 1;
  min-height: 139px;
}
@media (min-width: 768px) {
  .section4 .card li .txt {
    min-height: 118px;
  }
}
.section4 .card div:not(:first-child) + div {
  border-top-width: 1px;
}
.section4 .card button {
  background-color: transparent;
}
.section4 .card .pic {
  overflow: hidden;
}
.section4 .card .pic img:hover {
  transition: 0.3s;
  transform: scale(1.2, 1.2);
}
.section4 .pages li {
  width: 3rem;
  height: 3rem;
}
.section4 .pages li.active, .section4 .pages li:hover {
  background-color: #000;
  color: #fff;
}
.section4 .pages a {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .section5 br {
    display: none;
  }
}

.section6 {
  border-top: 1px solid #fff;
}