h1, h2, h3, h4, h5, p, a {
  line-height: 1.2;
}

.logo {
  height: 24px;
}
@media (min-width: 768px) {
  .logo {
    height: 40px;
  }
}

.line {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: block;
  padding: 16px;
  position: relative;
  z-index: 2;
}
@media (min-width: 768px) {
  .line {
    display: none;
  }
}
.line .menu, .line .menu::before, .line .menu::after {
  background-color: #fff;
  content: "";
  position: absolute;
  display: block;
  height: 4px;
  border-radius: 2px;
  transition: ease 0.3s;
}
.line .menu {
  width: 60%;
  top: calc(50% - 2px);
  left: 20%;
}
.line .menu::before {
  width: 100%;
  top: -10px;
}
.line .menu::after {
  width: 100%;
  top: 10px;
}

#mobile_menu:checked + .line .menu {
  background-color: transparent;
}
#mobile_menu:checked + .line .menu::before {
  transform: rotate(-45deg);
  top: 0;
  transition: ease 0.3s;
}
#mobile_menu:checked + .line .menu::after {
  transition: ease 0.3s;
  transform: rotate(45deg);
  top: 0;
}

#mobile_menu:checked ~ .menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100vh - 80px);
  position: fixed;
  top: 80px;
  left: -6px;
  z-index: 1;
  transition: 0.3s;
  overflow: hidden;
  font-size: 5rem;
  gap: 8px;
  flex-direction: column;
}
@media (min-width: 768px) {
  #mobile_menu:checked ~ .menu-list {
    display: none;
  }
}

.menu-list {
  display: none;
  background-color: #000;
}
@media (min-width: 768px) {
  .menu-list {
    display: flex;
    gap: 20px;
  }
  .menu-list a {
    padding: 12px 0;
  }
}

#mobile_menu {
  display: none;
}

.font-black {
  font-weight: 900;
}